<!--
Autor: Lidice Stankervicaite
Version: 1.0.0
Descripcion:  Pagina para indicar desarrollo en curso.
 -->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<dom-module id="demo-component">
  <template>
    <style>
      :host {
        display: block;
        font-faily: arial;
         color: red;
      /** color: red;      */
      }
    </style>
    <h1>Página en construcción</h1>
      <h2>Estamos trabajando en su elaboración, tenga el bien de esperar. <br>Gracias!!</h2>
<!--      <h2>Hola mi nombre es [[nombre]], mi ID es [[id]] y mi edad es [[edad]]</h2> -->

 </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoComponent extends Polymer.Element {
      static get is() { return 'demo-component'; }
      static get properties() {
        return {
          componentName:  {type: String},
          id:             {type: Number},
          nombre:         {type: String},
          edad:           {type: Number}
        };
      }

      ready() {
          super.ready();
          let valors= window.sessionStorage.getItem('logado');
    //      console.log("session storage: "+ valors);
          let idCliente= window.sessionStorage.getItem('idCliente');
    //      console.log("idCliente: "+ idCliente);
              }
    }

    window.customElements.define(DemoComponent.is, DemoComponent);
  </script>
</dom-module>
