<!--
Autor: Lidice Stankervicaite
Version: 1.0.0
Descripcion: Permite realizar el login a la aplicacion en base a email y password
             guardando los datos del usuario en la sessionStorage
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<dom-module id="login-usuario">
  <template>
   <style include="shared-styles">
    :host {
      display: block;
      padding: 10px;
    }
    </style>

      <iron-ajax id="hacerLogin"
                 url=""
                 method="PUT"
                 handle-as="json"
                 body="{{userdata}}"
                 content-type="application/json"
                 on-response="mostrarResultado"
                 on-error="mostrarError">

      </iron-ajax>

      <!-- Valida que el mail no este registrado  -->
        <iron-ajax id="buscoId"
                   url=""
                   method="GET"
                   handle-as="json"
                   content-type="application/json"
                   on-response="guardoId"
                   on-error="buscoIdError">
        </iron-ajax>


      <div class="row">
         <form class ="frm">
           <h2>Ingrese sus datos Personales</h2>
               <div>
                 <label for="email">Email:</label>
                 <input type="email" size="30" id="email" name="email"  label="email" value={{email::input}}>
               </div>
               <div>
                  <label for="password">Password:</label>
                  <input type="password" id="password" size="15" name="password" label="contraseña" value={{password::input}}>
              </div>
              <span hidden$="{{!logado}}"></br>Bienvenid@ de nuevo:
                       {{nombre}} {{apellido}}

              </span>
              <p>{{mensaje}}</p>

        </form>
          <p> </br>
            <button on-click="btnLogar">Enviar</button>
          </p>
    </div>

  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          idCliente:  {type: Number},
          email:      {type: String,  value: "email"},
          password:   {type: String,  value: "password"},
          nombre:     {type: String,  value: " "},
          apellido:   {type: String,  value: " "},
          mensaje:    {type: String,  value: " "},
          logado:     {type: Boolean, value: false},
          logueado:   {type: Boolean}
          };
      }

      btnLogar() {
        this.userdata =JSON.stringify({email:this.email, password:this.password});
        let _path= "http://localhost:3000/api-uruguay/v1/login";
        this.$.hacerLogin.set('url',_path);
        this.$.hacerLogin.generateRequest();
      }

      mostrarResultado(resultado) {
        this.mensaje = " ";
        this.nombre = resultado.detail.response.nombre;
        this.apellido = resultado.detail.response.apellido;
        this.logueado = resultado.detail.response.logueado;
        this.logado = true;
        // --Guardo datos del cliente en sessionStorage ----
        window.sessionStorage.setItem('logado','true');
        window.sessionStorage.setItem('nombre',this.nombre);
        window.sessionStorage.setItem('apellido',this.apellido);
        window.sessionStorage.setItem('email',this.email);
        let valors= window.sessionStorage.getItem('logado');

         let _path= "http://localhost:3000/api-uruguay/v1/mail/" + this.email;
         this.$.buscoId.set('url',_path);
         this.$.buscoId.generateRequest();

      }

      mostrarError(error) {
        this.mensaje = "Error de logueo.";
        this.logado = false;
      }

      guardoId(resultado) {
        this.mensaje = "";
        this.logado = true;
        this.idCliente = resultado.detail.response.idCliente;
        window.sessionStorage.setItem('idCliente',this.idCliente);
        let id= window.sessionStorage.getItem('idCliente');
  //      console.log("session storage, id cliente "+id);

      }


      buscoIdError(error) {
        this.mensaje = "Error de logueo.";
        this.logado = false;
      }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
