<!--
Autor: Lidice Stankervicaite
Version: 1.0.0
Descripcion: Permite el alta de nuevos usuarios, se valida unicidad del email.
-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">


<dom-module id="registro-usuario">
  <template>
   <style include="shared-styles">
    :host {
      display: block;
      padding: 10px;
    }
    </style>

    <!-- Valida que el mail no este registrado  -->
      <iron-ajax id="validoRegistro"
                 url=""
                 method="GET"
                 handle-as="json"
                 content-type="application/json"
                 on-response="existeRegistro"
                 on-error="usuarioNuevo">
      </iron-ajax>

    <!-- Da de alta el usuario -->
      <iron-ajax id="hacerRegistro"
                 url="http://localhost:3000/api-uruguay/v1/usuarios"
                 method="POST"
                 handle-as="json"
                 body="{{userdata}}"
                 content-type="application/json"
                 on-response="mostrarResultado"
                 on-error="mostrarError">

      </iron-ajax>

      <div class="row">
         <form class ="frm">
           <h2>Ingrese sus datos Personales</h2>

               <div>
                 <label for="">Nombre:</label>
                 <input type="text" size="30" id="nombre" name="nombre"  label="nombre" value={{nombre::input}}>
               </div>
               <div>
                 <label for="">Apellido:</label>
                 <input type="text" size="30" id="apellido" name="apellido"  label="apellido" value={{apellido::input}}>
               </div>
               <div>
                 <label for="email">Email:</label>
                 <input type="email" size="30" id="email" name="email"  label="email" value={{email::input}}>
               </div>
               <div>
                  <label for="password">Password:</label>
                  <input type="password" id="password" size="15" name="password" label="contraseña" value={{password::input}}>
              </div>

              <p>{{mensaje}}</p>

        </form>
          <p> </br>
            <button on-click="valido">Enviar</button>
          </p>
    </div>

  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class RegistroUsuario extends Polymer.Element {
      static get is() { return 'registro-usuario'; }
      static get properties() {
        return {
          id:       {type: String},
          nombre:   {type: String,  value: "nombre"},
          apellido: {type: String,  value: "apellido"},
          email:    {type: String,  value: "email"},
          password: {type: String,  value: "password"},
          mensaje:  {type: String,  value: " " },
          existe:   {type: Boolean, value: true},
          logado:   {type: Boolean, value: false},
          logueado: {type: Boolean}
        };

      }

      /** ==============================================================
     *  Valido Mail
     * ===============================================================*/



      existeRegistro(resultado) {
        this.mensaje = "email ya registrado.";
        this.existe = true;

      }

      valido(resultado) {

//        console.log("datos validar "+ this.userdata);
        let _path= "http://localhost:3000/api-uruguay/v1/mail/" + this.email;
        this.$.validoRegistro.set('url',_path);
        this.$.validoRegistro.generateRequest();

      }

      usuarioNuevo(error) {
    //    console.log("error ");
        this.mensaje = "";
        this.existe = false;

        this.userdata =JSON.stringify({nombre:this.nombre, apellido:this.apellido, email:this.email, password:this.password});
        this.$.hacerRegistro.generateRequest();

      }

    /** ==============================================================
     *  Alta del usuario
     * ===============================================================*/
      mostrarResultado(resultado) {
        this.mensaje = "Se registro correctamente.";
        this.nombre = resultado.detail.response.nombre;
        this.apellido = resultado.detail.response.apellido;
        this.email = resultado.detail.response.email;
        this.password = resultado.detail.response.password;
        this.logueado = resultado.detail.response.logueado;
        this.logado =false;
      }


      mostrarError(error) {
        this.mensaje = "Error de registro";
        this.logado = false;
      }

    }



    window.customElements.define(RegistroUsuario.is, RegistroUsuario);
  </script>
</dom-module>
