<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<!-- pendiente
<link rel="import" href="/src/my-localstorage/my-localstorage.html"> -->

<dom-module id="consulta-usuario">
  <template>
   <style include="shared-styles">
    :host {
      display: block;
      padding: 10px;
    }
    </style>

      <iron-ajax id="hacerConsulta"
                 url="http://localhost:3000/api-uruguay/v1/usuarios"
                 method="GET"
                 handle-as="json"
                 body="{{userdata}}"
                 content-type="application/json"
                 on-response="mostrarResultadoUsuarios"
                 on-error="mostrarError">

      </iron-ajax>

      <h1>Usuarios</h1>
          <button onclick="hacerConsulta">Listar</button>

          <template is="dom-repeat" items="{{userdata}}">


            <table id="table" class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>email</th>
                </tr>
              </thead>
              <tbody id="tableBody">
                <td>{{nombre}}</td>
                <td>{{apellido}}</td>
                <td>{{email}}</td>

              </tbody>
            </table>

          </template>

              <p>{{mensaje}}</p>

          <p> </br>
  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class ConsultaUsuario extends Polymer.Element {
      static get is() { return 'consulta-usuario'; }
      static get properties() {
        return {
          email:    {type: String, value: " "},
          password: {type: String, value: " "},
          nombre:   {type: String, value: " "},
          apellido: {type: String, value: " "},
          mensaje:  {type: String, value: " "},
          logado:   {type: Boolean, value: false},
          logueado: {type: Boolean}
        };
      }
      mostrarResultadoUsuarios(resultado) {
        this.mensaje = " ";
        this.nombre = resultado.detail.response.nombre;
        this.apellido = resultado.detail.response.apellido;
        this.email = resultado.detail.response.email;
        this.logueado = resultado.detail.response.logueado;
        this.logado = true;
      }

      consultar() {
        this.userdata =JSON.stringify({});
        this.$.hacerConsulta.generateRequest();
      }

      mostrarError(error) {
        this.mensaje = "Error de consulta";
        this.logado = false;
      }
      
    }

    window.customElements.define(ConsultaUsuario.is, ConsultaUsuario);
  </script>
</dom-module>
