<!--
Autor: Lidice Stankervicaite
Version: 1.0.0
Descripcion: Permite que el usuario actualmente logueado consulte o modifique sus datos personales.
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<dom-module id="modifica-usuario">
  <template>
  <style include="shared-styles">
   :host {
     display: block;
     padding: 10px;
   }
   </style>

      <iron-ajax
                 id="traerDatos"
                 url=""
                 method="GET"
                 handle-as="json"
                 content-type="application/json"
                 on-response="traerResultado"
                 on-error="traerError">
      </iron-ajax>

      <iron-ajax
                 id="hacerModif"
                 url=""
                 method="PUT"
                 handle-as="json"
                 body="{{userdata}}"
                 content-type="application/json"
                 on-response="mostrarResultado"
                 on-error="mostrarError">
      </iron-ajax>


      <div>

         <template is="dom-if" if="[[logado]]">
            <h2>Consulta datos</h2>
            <p> </br>
                 <button on-click="btnConf">Confirmar</button>
            </p>
            <template is="dom-if" if="[[confirmo]]">
                  <form class ="frm">
                    <h2>Modifique datos</h2>
                        <div>
                          <label for="">Nombre:</label>
                          <input type="text" size="30" id="nombre" name="nombre"  label="nombre" value={{nombre::input}}>
                        </div>
                        <div>
                          <label for="">Apellido:</label>
                          <input type="text" size="30" id="apellido" name="apellido"  label="apellido" value={{apellido::input}}>
                        </div>
                        <div>
                           <label for="password">Password:</label>
                           <input type="password" id="password" size="15" name="password" label="contraseña" value={{password::input}}>
                       </div>
                 </form>
                 <p> </br>  </p>
                 <button on-click="btnModif">Modificar</button>
           </template>
        </template>
         <p>{{mensaje}}</p>

    </div>
  </template>

  <script>


    class ModificaUsuario extends Polymer.Element {
      static get is() { return 'modifica-usuario'; }
      static get properties() {
        return {
          idCliente: {type:  Number},
          nombre: {type: String, value: " "},
          apellido: {type: String, value: " "},
          email: {type: String, value: " "},
          password: {type: String, value: " "},
          mensaje: {type: String, value: " "},
          confirmo: {type: Boolean, value: false},
          id: {type: Number},
          logado: {type: Boolean}
        };
      }

      ready() {
          super.ready();
          let logueado= window.sessionStorage.getItem('logado');
          this.logado = logueado;
          this.id = window.sessionStorage.getItem('idCliente');
          this.confirmo = false;
    //      console.log("session storage, id cliente "+this.id);
     }

     btnConf() {

       let _path= "http://localhost:3000/api-uruguay/v1/usuarios/" + this.id;
    //  console.log('path '+_path);
       this.$.traerDatos.set('url',_path);
       this.$.traerDatos.generateRequest();

     }

      traerResultado(resultado) {
        this.confirmo = true;
        this.idCliente = resultado.detail.response.idCliente;
        this.nombre = resultado.detail.response.nombre;
        this.apellido = resultado.detail.response.apellido;
        this.email = resultado.detail.response.email;
        this.password = resultado.detail.response.password;
        this.mensaje = "";
      }

      traerError(error) {
        this.mensaje = "Error al consultar.";
      }


     btnModif() {

       let _path= "http://localhost:3000/api-uruguay/v1/usuarios/" + this.id;
    //   console.log('path '+_path);
       this.userdata =JSON.stringify({idCliente:this.idCliente, nombre:this.nombre, apellido:this.apellido, email:this.email, password:this.password, logueado:this.logado});
       this.$.hacerModif.set('url',_path);
       this.$.hacerModif.generateRequest();

     }


      mostrarResultado(resultado) {
        this.mensaje = "Modificación correcta.";
      }

      mostrarError(error) {
        this.mensaje = "Error de modificación.";
      }

    }

    window.customElements.define(ModificaUsuario.is, ModificaUsuario);
  </script>
</dom-module>
