<!--
Autor: Lidice Stankervicaite
Version: 1.0.0
Descripcion: Permite consultar los movimientos de la cuenta que solicita por pantalla
 del usuario que previamente se logueo y cuyo ide esta en la sessionStorage
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="consulta-movs">
  <template>
  <style include="shared-styles">
   :host {
     display: block;
     padding: 10px;
   }
   table, th, td {
    border: 1px solid black;
   }
   th,td {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}
   </style>

      <iron-ajax
                 id="traerDatos"
                 url=""
                 method="GET"
                 handle-as="json"
                 body="{{userdata}}"
                 content-type="application/json"
                 on-response="traerResultado"
                 on-error="traerError">
      </iron-ajax>

      <div>

         <template is="dom-if" if="[[logado]]">
            <h2>Indique cuenta</h2>
            <p> </br>
              <label for="">Cuenta:</label>
              <input type="number" id="idCuenta" label="idCuenta" value={{idCuenta::input}}>
                 <button on-click="btnConf">Confirmar</button>
            </p>
            <template is="dom-if" if="[[confirmo]]">
                  <form>
                    <h3>Detalle</h3>

                    <div>
                      <p>Cliente: {{cliente}} {{nombre}} {{apellido}}</p>
                      <p>Cuenta: {{idCuenta}} </p>
                      <p>IBAN: {{iban}}</p>
                      </br/>
                    </div>

                      <table >
                          <dom-repeat items="{{movs}}" as="mov">
                            <template>
                              <thead>
                               <tr>
                                   <th>id</th>
                                   <th>Fecha</th>
                                   <th>Imp</th>
                                   <th>Tipo</th>
                                   <th>Moneda</th>
                               </tr>
                               </thead>

                                <tbody>
                                <tr>
                                   <td>{{mov.id}}</td>
                                   <td>{{mov.fecha}} </td>
                                   <td>{{mov.imp}} </td>
                                   <td>{{mov.tipo}} </td>
                                   <td>{{mov.moneda}} </td>
                                   <br>
                               </tr>
                               </tbody>
                            </template>
                          </dom-repeat>
                      </table>
                    </template>

                 </form>
            </template>

       <p>{{mensaje}}</p>

        </template>



    </div>

  </template>

  <script>


    class ConsultaMovs extends Polymer.Element {
      static get is() { return 'consulta-movs'; }
      static get properties() {
        return {
          nombre:   {type: String,  value: " "},
          apellido: {type: String,  value: " "},
          idCuenta: {type: Number},
          cliente:  {type: Number},
          iban:     {type: String},
          movs:   {value() 	{
                  return 	[
          						  {id:    {type: Number},
          						  fecha:  {type: String},
          						  imp:    {type:  Number},
          						  tipo:   {type: String},
          						  moneda: {type: String}}
                      ]; } },
          mensaje:        {type: String, value: ""},
          confirmo:       {type: Boolean, value: false},
          clienteOriginal:{type: Number},
          logado:         {type: Boolean}
          };
      }


      ready() {
          super.ready();
          let logueado= window.sessionStorage.getItem('logado');
          this.logado = logueado;
          this.clienteOriginal = window.sessionStorage.getItem('idCliente');
          this.confirmo = false;
    //      console.log("session storage, id cliente "+ this.cliente);
          this.nombre = window.sessionStorage.getItem('nombre');
          this.apellido = window.sessionStorage.getItem('apellido');
     }

     btnConf() {
       let _path= "http://localhost:3000/api-uruguay/v1/cuentaId/" + this.idCuenta +  "/" + this.clienteOriginal;
       this.$.traerDatos.set('url',_path);
       this.$.traerDatos.generateRequest();
     }

      traerResultado(resultado) {
        this.confirmo = true;
        this.cliente = this.clienteOriginal;
  //      this.idCuenta = resultado.detail.response.idCuenta;
        this.iban = resultado.detail.response.iban;
        this.movs = resultado.detail.response.movs;
        this.mensaje = "";
      }

      traerError(error) {
        this.mensaje = "Error al consultar.";
        this.confirmo = false;
      }

    }

    window.customElements.define(ConsultaMovs.is, ConsultaMovs);
  </script>
</dom-module>
