<!--
Autor: Lidice Stankervicaite
Version: 1.0.0
Descripcion: Permite desconectarse del sistema al usuario logueado y tambien se eliina la marca de Mlab.
-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<dom-module id="logout-usuario">
  <template>
  <style include="shared-styles">
   :host {
     display: block;
     padding: 10px;
   }
   </style>

      <iron-ajax id="hacerLogout"
                 url=""
                 method="PUT"
                 handle-as="json"
                 body="{{userdata}}"
                 content-type="application/json"
                 on-response="mostrarResultado"
                 on-error="mostrarError">

      </iron-ajax>

      <div>

         <template is="dom-if" if="[[logado]]">
            <h2>Confirme logout</h2>
            <p> </br>
                 <button on-click="btnLogout">Confirmar</button>
            </p>
        </template>

         <span hidden$="{{!salio}}">Gracias, lo esperamos de nuevo.</span>
         <p>{{mensaje}}</p>

    </div>

  </template>

  <script>


    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          email:    {type: String,  value: "email"},
          password: {type: String,  value: "password"},
          mensaje:  {type: String,  value: ""},
          salio:    {type: Boolean, value: false},
          logado:   {type: Boolean}
        };
      }

      ready() {
          super.ready();
          let logueado= window.sessionStorage.getItem('logado');
          let id= window.sessionStorage.getItem('idCliente');
          this.email= window.sessionStorage.getItem('email');
//         console.log("session storage: "+ logueado);
//         console.log("email: "+ this.email);
          this.logado = logueado;
          this.idCliente = id;

     }

      mostrarResultado(resultado) {
        this.salio = true;
        window.sessionStorage.setItem('logado','false');
        this.mensaje = "Logout correcto ";
//        console.log("logueado en mostrar resultado "+this.logueado);
      }

      btnLogout() {
        this.userdata = {email:this.email};
        let _path= "http://localhost:3000/api-uruguay/v1/logout";
        this.$.hacerLogout.set('url',_path);
        this.$.hacerLogout.generateRequest();
      }
      mostrarError(error) {
        this.salio = false;
//        console.log("logueado en mostrar error "+this.logado);
        this.mensaje = "Error de logueo.";
      }
    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
