<!--
Autor: Lidice Stankervicaite
Version: 1.0.0
Descripcion:  Este modulo fue creado para el rol de administrador que requiere la
lista de usuarios registrados al sistema.  Los datos se muestran ordenados por id.
 -->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="usuarios-registrados">
  <template>
  <style include="shared-styles">
   :host {
     display: block;
     padding: 10px;
   }
   table, th, td {
    border: 1px solid black;
   }
   th,td {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
   }
   </style>

   <!-- Busca los datos
 -->
 <iron-ajax
            id="traerDatos"
            url=""
            method="GET"
            handle-as="json"
            content-type="application/json"
            last-response="{{response}}"
            on-response="traerResultado"
            on-error="traerError">
 </iron-ajax>

     <div>

        <template is="dom-if" if="[[logado]]">
           <h2>Usuarios registrados en el sistema</h2>
           <p> </br>
                <button on-click="btnConf">Confirmar</button>
           </p>
           <template is="dom-if" if="[[confirmo]]">
                 <form>
                   <h3>Detalle</h3>

                     <table >
                         <dom-repeat items="{{usuarios}}" as="usr"  sort="_sort">
                           <template>
                             <thead>
                              <tr>
                                  <th>id</th>
                                  <th>Nombre</th>
                                  <th>Apellido</th>
                                  <th>email</th>
                              </tr>
                              </thead>

                               <tbody>
                               <tr>
                                  <td>{{usr.idCliente}}</td>
                                  <td>{{usr.nombre}} </td>
                                  <td>{{usr.apellido}} </td>
                                  <td>{{usr.email}} </td>
                                  <br>
                              </tr>
                              </tbody>
                           </template>
                         </dom-repeat>
                     </table>
                   </template>

                </form>
          </template>
       </template>
        <p>{{mensaje}}</p>

   </div>
 </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class UsuariosRegistrados extends Polymer.Element {
      static get is() { return 'usuarios-registrados'; }
      static get properties() {
        return {
          logado:     {type: Boolean},
          mensaje:    {type: String, value: " "},
          usuarios:   {value() 	{
                          return 	[
                                {idCliente:  {type: Number},
                                  nombre:     {type: String},
                                  apellido:   {type: String},
                                  email:      {type: String},
                                  password:   {type: String}
                                }] ;
                              } },
          confirmo:   {type: Boolean, value: false}
        };
      }

      // --- Solo se permite consultar si ya se registro al sistema ---
      ready() {
          super.ready();
          this.logado= window.sessionStorage.getItem('logado');
          this.confirmo = false;
          }

        btnConf() {

          let _path= "http://localhost:3000/api-uruguay/v1/usuarios";
    //      console.log('path '+_path);

          this.$.traerDatos.set('url',_path);
          this.$.traerDatos.generateRequest();
          this.confirmo = true;
        }

        traerResultado(resultado) {
          this.confirmo = true;
          this.usuarios = resultado.detail.response;
    //      console.log('Last response '+ this.response);
          this.mensaje = " ";
        }

    traerError(error) {
  //      console.log("mostrar error ");
        this.mensaje = "Error obteniendo usuarios";
      }

        // Ordeno por IdCliente -----------------
      _sort(a, b) {
                var idA = a.idCliente;
                var idB = b.idCliente;
                if (idA < idB) {
                  return -1;
                }
                if (idA > idB) {
                  return 1;
                }
                return 0;
              }

    }

    window.customElements.define(UsuariosRegistrados.is, UsuariosRegistrados);
  </script>
</dom-module>
