<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!--
Autor: Lidice Stankervicaite
Version: 1.0.0
Descripcion: Permite acceder a la pagina de cotizaciones de monedas del BCU.
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">

<dom-module id="my-view10">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">10</div>
      <h1>Cotizaciones</h1>
      <p>Esta opción lo conecta con una pagina oficial externa,</p>
      <p>en la que se publican las cotizaciones de monedas.</p>
      <p><a class="botones" href="https://www.bcu.gub.uy/Estadisticas-e-Indicadores/Paginas/Cotizaciones.aspx">Cotizaciones</a></p>
    </div>
  </template>

  <script>
    class MyView10 extends Polymer.Element {
      static get is() { return 'my-view10'; }
    }

    window.customElements.define(MyView10.is, MyView10);
  </script>
</dom-module>
