<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!--
Autor: Lidice Stankervicaite
Version: 1.0.0
Descripcion: Permite acceder al mapa de googlemaps de la ciudad de Montevideo.
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/src/demo-component/demo-component.html">

<dom-module id="my-view8">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">8</div>
      <h1>Mapa de Montevideo</h1>
      <p>Utilice esta opción para visualizar un mapa.</p>
        <p><a class="botones" href="https://www.google.com.br/maps/@-34.8659712,-56.1692672,12z">Mapa</a></p>
  <!--    <demo-component></demo-component> -->
    </div>
  </template>

  <script>
    class MyView8 extends Polymer.Element {
      static get is() { return 'my-view8'; }

    }

    window.customElements.define(MyView8.is, MyView8);
  </script>
</dom-module>
