<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/src/consulta-cuentas/consulta-cuentas.html">

<dom-module id="my-view6">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">6</div>
      <h1>Consulta cuentas</h1>
      <p>Utilice esta opción para consultar sus cuentas.</p>
      <consulta-cuentas></consulta-cuentas>
    </div>
  </template>

  <script>
    class MyView6 extends Polymer.Element {
      static get is() { return 'my-view6'; }

    }

    window.customElements.define(MyView6.is, MyView6);
  </script>
</dom-module>
