<!--
Autor: Lidice Stankervicaite
Version: 1.0.0
Descripcion: Permite que el usuario actualmente logueado se de de baja en el sistema siempre
que no tenga cuentas asociadas.
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<dom-module id="baja-usuario">
  <template>
  <style include="shared-styles">
   :host {
     display: block;
     padding: 10px;
   }
   </style>

      <iron-ajax
                 id="hacerBaja"
                 url=""
                 method="DELETE"
                 handle-as="json"
                 on-response="mostrarResultado"
                 on-error="mostrarError">
      </iron-ajax>

      <iron-ajax
                 id="traerDatos"
                 url=""
                 method="GET"
                 handle-as="json"
                 content-type="application/json"
                 last-response="{{response}}"
                 on-response="traerResultado"
                 on-error="traerError">
      </iron-ajax>


      <div>

         <template is="dom-if" if="[[logado]]">
            <h2>Confirme baja</h2>
            <p> </br>
                 <button on-click="btnBaja">Confirmar</button>
            </p>
        </template>

         <span hidden$="{{!salio}}">Gracias, lo esperamos de nuevo.</span>
         <p>{{mensaje}}</p>

    </div>
  </template>

  <script>


    class BajaUsuario extends Polymer.Element {
      static get is() { return 'baja-usuario'; }
      static get properties() {
        return {
        idCliente: {type: Number},
        detalle: {value() 	{
                return 	[
                      {idCuenta:  {type:  Number},
                       cliente:   {type:  Number},
                       iban:      {type: String}
                      }
                      ] ;
                    } },
        mensaje: {type: String, value: ""},
        salio: {type: Boolean, value: false},
        logado: {type: Boolean}
          }
        }

      ready() {
          super.ready();
          let logueado= window.sessionStorage.getItem('logado');
    //      console.log("session storage: "+ logueado);
          let id= window.sessionStorage.getItem('idCliente');
    //      console.log("idCliente: "+ id);
          this.logado = logueado;
          this.idCliente = id;
     }

      btnBaja() {
       let _path= "http://localhost:3000/api-uruguay/v1/ctas/" + this.idCliente;
       this.$.traerDatos.set('url',_path);
       this.$.traerDatos.generateRequest();
     }

      traerResultado(resultado) {
        this.mensaje = "No se permite la baja el cliente tiene Cuentas ";

      }

      traerError(error) {
        this.mensaje = " ";
        let _path= "http://localhost:3000/api-uruguay/v1/usuarios/" + this.idCliente;
        this.$.hacerBaja.set('url',_path);
        this.$.hacerBaja.generateRequest();

     }

      mostrarResultado(resultado) {
        this.salio = true;
        window.sessionStorage.setItem('logado','false');
        this.mensaje = "Baja correcta.";
    //    console.log("baja en mostrar resultado "+this.logado);
      }

      mostrarError(error) {
        this.salio = false;
  //      console.log("baja en mostrar error "+this.logado);
        this.mensaje = "Error de borrado.";
      }
    }

    window.customElements.define(BajaUsuario.is, BajaUsuario);
  </script>
</dom-module>
