<!--
Autor: Lidice Stankervicaite
Version: 1.0.0
Descripcion: Permite que el usuario actualmente logueado consulte sus cuentas.
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="consulta-cuentas">
  <template>
  <style include="shared-styles">
   :host {
     display: block;
     padding: 10px;
   }
   table, th, td {
    border: 1px solid black;
   }
   th,td {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}
   </style>

      <iron-ajax
                 id="traerDatos"
                 url=""
                 method="GET"
                 handle-as="json"
                 content-type="application/json"
                 last-response="{{response}}"
                 on-response="traerResultado"
                 on-error="traerError">
      </iron-ajax>

      <div>

         <template is="dom-if" if="[[logado]]">
            <h2>Consulta Cuentas</h2>
            <p> </br>
                 <button on-click="btnConf">Confirmar</button>
            </p>
            <template is="dom-if" if="[[confirmo]]">
                  <form>
                   <div>
                      <h3>Cliente: {{clienteOriginal}} {{nombre}} {{apellido}}</h3>
                        </br/>
                    </div>

                      <table >

                          <dom-repeat items="{{detalle}}" as="det">

                                  <template>
                                    <thead>
                                     <tr>
                                         <th>Cuenta</th>
                                         <th>IBAN</th>
                                     </tr>
                                     </thead>

                                      <tbody>
                                      <tr>
                                         <td>{{det.idCuenta}}</td>
                                         <td>{{det.iban}} </td>
                                         <br>
                                     </tr>
                                     </tbody>
                                  </template>


                          </dom-repeat>
                      </table>
                    </template>

                 </form>
           </template>

               <p>{{mensaje}}</p>
        </template>


    </div>
  </template>

  <script>


    class ConsultaCuentas extends Polymer.Element {
      static get is() { return 'consulta-cuentas'; }
      static get properties() {
        return {
          clienteOriginal: {type:  Number},
          detalle: {value() 	{
                  return 	[
          						  {idCuenta:  {type:  Number},
                         cliente:   {type:  Number},
                         iban:      {type: String}
          						  }
          							] ;
          						} },
          mensaje:    {type: String, value: ""},
          confirmo:   {type: Boolean, value: false},
          nombre:     {type: String,  value: " "},
          apellido:   {type: String,  value: " "},
          logado:     {type: Boolean}
          };
      }


      ready() {
          super.ready();
          let logueado= window.sessionStorage.getItem('logado');
          this.logado = logueado;
          this.clienteOriginal = window.sessionStorage.getItem('idCliente');
          this.confirmo = false;
    //      console.log("session storage, id cliente "+this.cliente);
          this.nombre = window.sessionStorage.getItem('nombre');
          this.apellido = window.sessionStorage.getItem('apellido');
     }

     btnConf() {
  //     let _path= "http://localhost:3000/api-uruguay/v1/cuentas";
       let _path= "http://localhost:3000/api-uruguay/v1/ctas/" + this.clienteOriginal;

  //     console.log('path '+_path);
       this.$.traerDatos.set('url',_path);
       this.$.traerDatos.generateRequest();
     }

      traerResultado(resultado) {
        this.confirmo = true;
        this.detalle = resultado.detail.response;
  //      console.log('Last response '+ this.response);
        this.mensaje = " ";

      }

      traerError(error) {
        this.mensaje = "Error al consultar.";
      }

    }

    window.customElements.define(ConsultaCuentas.is, ConsultaCuentas);
  </script>
</dom-module>
